body {
  text-align: center;
  background-color: rgb(210, 210, 210);
  max-width: 1440px;
  margin: 0 auto;
}

#level-title {
  font-family: "Press Start 2P", cursive;
  font-size: 3rem;

  color: black;
}

.hero {
  height: 90vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
}

.modal {
  margin: 0;
  padding: 0;
}

.modal button {
  margin: 0;
  padding: 0;
  font-family: "Press Start 2P", cursive;
  background-color: black;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  font-size: 1.5rem;
  cursor: pointer;
  position: absolute;
  top: 3%;
  left: 85%;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
  cursor: pointer;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: gray;
}

.green {
  background-color: rgb(224, 224, 224);
}

.blue {
  background-color: lightgray;
}

.yellow {
  background-color: darkgray;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: black;
  opacity: 50%;
}

footer {
  opacity: 50%;
  transition: 0.5s opacity;
}

footer p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  cursor: pointer;
}

hr {
  border-color: black;
}

.end {
  display: flex;
  justify-content: space-between;
}

footer:hover {
  opacity: 100%;
}
